@import '../../../config-scss/rem-calc.scss';

$padding: rem-calc(20);

:host {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: $padding 0;

  .pokemon {
    position: relative;
    display: flex;
    background: var(--branco);

    width: calc(49% - 2.5rem);
    height: rem-calc(157 - 40);

    margin-bottom: rem-calc(10);
    padding: $padding;

    border-radius: rem-calc(10);

    color: var(--primary-color);
    text-decoration: none;

    &__status {
      h2 {
        font-size: rem-calc(22);
        font-style: italic;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: rem-calc(10);
      }

      h3{
        font-size: rem-calc(14);
        font-style: italic;
        font-weight: 500;
        margin-bottom: rem-calc(10);
      }

      ul {
        display: flex;
        flex-direction: column;

        li {
          // Cor de fundo e Tamanho
          background: var(--cinza);
          font-size: rem-calc(10);
          // Alinhamento
          display: flex;
          justify-content: center;
          align-items: center;
          // Borda
          border-radius: rem-calc(50);
          // Largura
          width: rem-calc(60);
          //Margin
          margin-bottom: rem-calc(5);
        }
      }
    }
    &__image {
      position: absolute;

      display: flex;
      align-items: center;
      justify-content: center;

      height: rem-calc(90);
      width: rem-calc(110);

      bottom: $padding;
      right: $padding;

      background: url(../../../assets/bg/background-list-pokemon.svg) no-repeat;

      img{
        width: rem-calc(60);
      }

    }
  }
}
